.idea/*
*/package-lock.json
*/__pycache__/**.py
greek_corpus_perseus/
tei-stylesheets/
*.py
*.avant_*
Named_entity_recognition/data/output/
Named_entity_recognition/data/__pycache__/
Named_entity_recognition/data/*.log
Named_entity_recognition/data/*.bak
Named_entity_recognition/data/non_tei_files.txt
archives_zoomathia/
repertoire_codes_zoo.csv
