.footer {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0 5px;
    padding: 0.5svw;
    max-height: 3svw;
    bottom: 0;
    position: sticky;
}

.footer a {
    display: block;
    margin: auto;
}

.img-styles {
    max-width: 3svw;
    max-height: 3svw;
}