.footer {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0 5px;
    padding: 15px;
    min-height: 5svh;
    max-height: 5svh;
    bottom: 0;
    position: sticky;
}

.footer a {
    display: block;
    margin: auto;
}

.img-styles {
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 50px;
}