.footer {
    display: flex;
    flex-direction: row;
    /*background-color: #363537;*/
    background-color: #c2c2c2;
    width: 100%;
    margin-top: 1.4rem;
    padding: 15px;
}

.footer a {
    display: block;
    margin: auto;
}

.img-styles {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 70px;
}