.box-content {
    margin: auto;
    width: 95%;
    box-shadow: 0 0 5px;
    padding: 15px;
    background-color: white;
    min-height: calc(100svh - 10svh - 3svw);
}

.MuiButtonBase-root {
    padding: 0;
}

.box-content>* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-project p {
    text-align: justify;
    margin: auto;
}

h1 {
    font-size: 2.5rem
}

.box-part {
    display: flex;
    flex-direction: row;
}

.home-project h2 {
    background-color: #9A653026;
    color: black;
    border-radius: 5px;

    padding: 0.7rem;
}



.box-text {
    width: 70%;
    padding: 15px;
}

.box-img {
    width: 30%;
}

.list-items {
    list-style: disc;
}

.box-img:hover {
    width: 70%;
}

.box-img > img {
    height: inherit;
    width: inherit;
    margin: auto;
}