.box-content {
    margin: auto;
    width: 85%;
    box-shadow: 0 0 5px;
    padding: 15px;
    background-color: white;
}

.box-content>* {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-project p {
    text-align: justify;
    width: 50%;
    margin: auto;
}

h1 {
    font-size: 2.5rem
}

.home-project h2 {
    background-color: #363537;
    color: white;
    padding: 2rem;
}