.navbar {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0 5px;
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: fit-content;
    max-height: 10svh;
}

.logo-box {
    background-image: url("../../../public/zoomathia.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10%;
    padding: 1.5svh;
}

.menu-box {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding: 0.8svw;
}

.menu-box a {
    font-size: 1.3svw;
    width: 100%;
    color: black;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.menu-box a:hover {
    background-color: #9a6530;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}