.App {
  text-align: center;
}

#root {
  background-image: url("../public/NileMosaicOfPalestrina.jpg");
  min-height: 100svh;
}

a.active {
  background-color: #9A6530;
  color: white;
}

.MuiButtonBase-root {
  padding: 0 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#mge-dashboard {
  position: relative;
  min-height: 70svh;
  z-index: 0;
  padding: 15px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
