.box-content * {
    transition: 0.2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-content {
    margin: auto;
    width: 85%;
    box-shadow: 0 0 5px;
    padding: 15px;
    background-color: white;
}