.box-content * {
    transition: 0.2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
    box-shadow: 0 0 5px;
    background-color: white;
    min-height: 70lvh;
}

.input-select {
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
}

th {
    padding: 0 !important;
    text-align: center;
}
td {
    padding: 7px !important;
}


section>h3 {
    background-color: #0043a8;
    color: white;
    padding: 1.3rem;
    margin-bottom: 0;
}

.iframe-box {
    width: 100%;
    height: 850px;
    border: none;
}

.animal-variable {
    display: block;
    padding: 0.7rem;
    background-color: red;
    color: white;
}

.anthroponym-variable{
    display: block;
    padding: 0.7rem;
    background-color: lightgreen;
}

.other-variable {
    display: block;
    padding: 0.7rem;
    background-color: orange;
}

.box-header {
    text-align: center;
}

.box-question {
    text-align: center;
}


.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 15px auto;
    animation: spin 1.5s linear infinite;
}

.selected-book-metadata{
    border-top: #c2c2c2 thin solid;
    border-bottom: #c2c2c2 thin solid;
    background-color: #ebebeb;
    display: flex;
    margin: 10px 0;
    padding: 1.5rem;
}

.selected-book-metadata > p {
    margin: auto;
}

.button-export {
    background-color: rgb(203, 212, 255);
    border: grey thin solid;
    border-radius: 5px;
    padding: 10px;
    margin: 0 15px;
}

.button-export:hover {
    background-color: rgb(216, 255, 203)
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}