.paragraph-section {
    display: flex;
    flex-direction: row;
    min-height: 10rem;
}

.paragraph-section:nth-child(2n+1) {
    background-color: rgb(237, 237, 237);
}

.id-paragraph {
    text-align: center;
    user-select: none;
    padding: 5px 25px;
    min-height: 100%;
    width: 3%;
}

.id-paragraph>p {
    text-align: center;
    color: grey;
}

.text-paragraph {
    min-height: 100%;
    padding: 5px 25px;
    border-left: grey thin solid;
    width: 75%;
}

.text-paragraph>p {
    text-align: justify;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.concept-list {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    width: 17%;
    user-select: none;
}

.concept-list p {
    margin-bottom: 0.3rem;
    text-align: center;
    color: white;
    background-color: #363537;
    padding: 0.3rem;
}

.highlight {
    background-color: yellow;
}

.concept-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.concept-list li {
    margin-bottom: 0.3rem;
    text-align: center;
    border: black thin solid;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    width: fit-content;
}

.concept-list li:hover {
    max-height: min-content;
    background-color: rgb(124, 168, 255);
    cursor: pointer;

}