.paragraph-section {
    display: flex;
    flex-direction: row;
}

.paragraph-section:nth-child(2n+1) {
    background-color: #9A653026;
}


.id-paragraph {
    text-align: center;
    user-select: none;
    padding: 5px 25px;
    min-height: 100%;
    width: 3%;
}

.id-paragraph>p {
    text-align: center;
    color: grey;
}

.text-paragraph {
    min-height: 100%;
    padding: 5px 25px;
    width: 75%;
}

.text-paragraph>p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.concept-list {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    width: 30%;
    user-select: none;
}

.concept-list p {
    margin-bottom: 0.3rem;
    text-align: left;
    color: black;
    padding: 0.3rem;
}


.highlight {
    background-color: yellow;
}

.concept-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    height: fit-content;
}

.concept-list li {
    margin-bottom: 0.3rem;
    text-align: center;
    border: black thin solid;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.concept-list li:hover {
    max-height: min-content;
    background-color: rgb(124, 168, 255);
    cursor: pointer;

}

.wikidata-annotation {
    background-color: rgba(255, 0, 0, 0.369) !important;
}

.dbpedia-annotation {
    background-color:  rgba(0, 0, 255, 0.23)!important;
}

.auto-annotation {
    background-color: rgba(153, 66, 0, 0.495) !important;
}

.auto-annotation:hover {
    background-color: rgb(124, 168, 255) !important;
}