.box-content * {
    transition: 0.2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
    margin: 0
}

.box-content {
    margin: auto;
    width: 95%;
    box-shadow: 0 0 5px;
    background-color: white;
    min-height: calc(100svh - 20svh);
}

.section-form{
    display: flex;
    flex-direction: column;
}

.block-input {
    display:flex;
    flex-direction: row;
    padding: 1rem 0;
}

.search-input, .search-input-border {
    margin: auto;
    width: 30%;
}

.search-input-border {
    box-shadow: 0 0 2px;
    border-radius: 5px;
    padding: 10px;
}

.search-input > label, .search-input-border > label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.search-input > label > button {
    display: inline;
}

.search-concept {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.search-concept > div:first-child {
    width: 90%;
    margin: auto;
}
.search-concept-field {
    display: flex;
    flex-direction: column;
}

.btn-submit-search {
    font-size: 1.2rem;
    padding: 15px;
    border: grey thin solid;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    text-decoration: none;
}

.btn-submit-search:hover {
    background-color: #acf3ff;
    box-shadow: 0 0 2px;
}

.box-result {
    margin-top: 15px;
}

.selected-book-metadata{
    display: flex;
    flex-direction: row;
    border-top: #c2c2c2 thin solid;
    border-bottom: #c2c2c2 thin solid;
    background-color: #ebebeb;
    margin: 0;
    padding: 0.5rem;
}

.block-stat > h4 {
    margin: 0;
    font-size: 1.1rem;
}

.block-stat {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-decoration: none;
}

.btn-download {
    border: grey thin solid;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
}

.btn-download:hover {
    background-color: #acf3ff;
    box-shadow: 0 0 2px;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 15px auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}