.box-content * {
    transition: 0.2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
    margin: 0
}

.box-content {
    margin: auto;
    width: 90%;
    box-shadow: 0 0 5px;
    padding: 15px;
    background-color: white;
}

.section-form{
    display: flex;
    flex-direction: column;
}

.block-input {
    display:flex;
    flex-direction: row;
    padding: 1rem 0;
}

.search-input {
    margin: 0 auto;
    width: 30%;
}

.search-input > label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.btn-submit-search {
    font-size: 1.2rem;
    padding: 15px;
    border: grey thin solid;
    border-radius: 5px;
    
    width: fit-content;
    margin: 15px auto;
}

.btn-submit-search:hover {
    background-color: #acf3ff;
    box-shadow: 0 0 2px;
}